<h1>Books</h1>




    <div class = "table">
        <div class = "table-head">title</div>
        <div class = "table-head">body</div>
        <div class = "table-head">option</div>
        
        <div class = "table-body">
            <tp>
                <p>リーダブルコード</p>
                <p>より良いコードを書くためのシンプルで実践的なテクニック</p>
                <p>
                    <a href = "/books/207424">Show</a>
                </p>
                <p>
                    <a href = "/books/207432">Edit</a>
                </p>
                <p>
                    <a href = "/books/207432">Destroy</a>
                </p>
            </tp>
            <tp>
                
            </tp>
            
        </div>
        
    </div>



<h2>New Book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
    
    <h5>title</h5>
    <%= f.text_field :title %>
    <h5>body</h5>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
    
<% end %>
