<h1>Books</h1>
<%= form_with model: @book, url: '/books', method: :post do |f| %>

    <div class = "table">
        <div class = "table-head">title</div>
        <div class = "table-head">body</div>
        <div class = "table-head">option</div>
        
        <div class = "table-body">
            <tb>
                <tp>リーダブルコード</tp>
                <tp>より良いコードを書くためのシンプルで実践的なテクニック</tp>
                <tp>
                    <a href = "/books/207424">Show</a>
                </tp>
                <tp>
                    <a href = "/books/207432">Edit</a>
                </tp>
                <tp>
                    <a href = "/books/207432">Destroy</a>
                </tp>
            </tb>
            <tb>
                
            </tb>
            
        </div>
        
    </div>



<h2>New Book</h2>

    
    <h5>title</h5>
    <%= f.text_field :title %>
    <h5>body</h5>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
    
<% end %>
